<!-- views/partials/sidebar.ejs -->
<!-- <link rel="stylesheet" href="/user-info.css"> -->
<link rel="stylesheet" href="/dropdown.css">
<script src="/javascript/management-sidebar-javascript.js"></script>


<div class="sidebar">
    <h2>
        <img src="/image-data/flm-green-logo.png" alt="FLM Logo">
        FLM Management Console
    </h2>
    <a href="/management-console/dashboard" class="<%= activeTab === 'dashboard' ? 'active' : '' %>">Dashboard</a>
    <a href="/management-console/profiles" class="<%= activeTab === 'profiles' ? 'active' : '' %>">Register User</a>
    <a href="/management-console/chats" class="<%= activeTab === 'chats' ? 'active' : '' %>">Chats</a>
    <a href="/management-console/users" class="<%= activeTab === 'users' ? 'active' : '' %>">User Management</a>

    <div class="dropdown-container"></div>
    <%- include('../partials/dropdown') %>
</div>
